@font-face
    font-family: "Montserrat_Light"
    src: url(fonts/Montserrat/Montserrat-Light.ttf)

*
    transition: 0.3s all ease

.reveal
    font-family: "Montserrat_Light"
    background: rgba(0, 0, 0, 0.4)

    p, li
        margin: 0
        padding: 0
        font-size: 30px
        @media screen and ( max-width: 600px )
            font-size: 50px

    &:nth-child(2)
        p
            text-align: justify

    h3
        margin: 20px 0

.stack section
    margin-top: 20px

.slide-background
    transition: 0.3s transition ease !important
    opacity: .3 !important
